<link rel="stylesheet" href="https://unpkg.com/primeflex@3.1.2/primeflex.css">
<link rel="stylesheet" href="https://unpkg.com/primeflex/themes/saga-blue.css">

<app-menubar (userDataEvent)="receiveEvent($event)"></app-menubar>

<p-sidebar [(visible)]="display" *ngIf="user">
    <h2>Lead Information</h2>
        <label for="firstname"><h3>First Name</h3></label>
        <input type="text" id="firstname" [(ngModel)]="user.firstName" style="width: 100%;" pInputText />

        <label for="lastname"><h3>Last Name</h3></label>
        <input type="text" id="lastname" [(ngModel)]="user.lastName" style="width: 100%;" pInputText />

        <label for="country"><h3>Country</h3></label>
        <input type="text" id="country" [(ngModel)]="user.country" style="width: 100%;" pInputText />

        <label for="nationality"><h3>Nationality</h3></label>
        <input type="text" id="nationality" [(ngModel)]="user.nationality" style="width: 100%;" pInputText />

        <label for="designation"><h3>Designation</h3></label>
        <input type="text" id="designation" [(ngModel)]="user.designation" style="width: 100%;" pInputText />

        <label for="work-exp"><h3>Work Experience</h3></label>
        <input type="text" id="work-exp" [(ngModel)]="user.workExp" style="width: 100%;" pInputText />

        <label for="cv"><h3>CV</h3></label>
        <p-fileUpload #fubauto mode="basic" name="demo[]" url="./upload.php" accept="image/*" [auto]="true" chooseLabel="Choose File" id="cv"></p-fileUpload>
        
        <label for="Data Source"><h3>Data Source</h3></label>
        <p-dropdown [options]="socials" [(ngModel)]="user.dataSource" optionLabel="name" optionValue="name"></p-dropdown>   

        <br>
        <br>
        <button pButton type="button" label="Close" (click)="updateUser()" class="p-button-danger"></button>
</p-sidebar>

<div class="grid">
    <div class="col">
        <h1>Welcome, {{username | titlecase}}</h1>
        <p-table [value]="users" styleClass="p-datatable-gridlines">
            <ng-template pTemplate="header">
                <tr>
                    <th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Country</th>
                    <th>Nationality</th>
                    <th>Company</th>
                    <th>Designation</th>
                    <th>Work Exp</th>
                    <th>CV</th>
                    <th>Data Source</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td><p-button type="text" (click)="getUser(user.lastName)" icon="pi pi-pencil"></p-button></td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.country }}</td>
                    <td>{{ user.nationality }}</td>
                    <td>{{ user.company }}</td>
                    <td>{{ user.designation }}</td>
                    <td>{{ user.workExp }}</td>
                    <td>{{ user.cv }}</td>
                    <td>{{ user.dataSource }}</td>
                </tr>
            </ng-template>
          </p-table>
    </div>
</div>