<p-menubar>
    <ng-template pTemplate="start">
        <ul class="menubar-items">
            <li><button pButton pRipple type="button" label="Dev Test" (click)="reload()" class="p-ripple p-element p-button-lg p-button-secondary p-component"></button></li>
            <li><app-sidebar></app-sidebar></li>
            <li><button pButton pRipple type="button" label="Update Page" (click)="reload()" class="p-button-success btn-style"></button></li>
            <li><button pButton pRipple type="button" label="Logout" (click)="logout()" class="p-button-secondary btn-style"></button></li>
        </ul>
    </ng-template>
</p-menubar>
