<p-menubar>
    <ng-template pTemplate="start">
        <ul class="menubar-items">
            <li><button pButton pRipple type="button" label="Dev Test" (click)="reload()" class="p-ripple p-element p-button-lg p-button-secondary p-component"></button></li>
            <li><app-sidebar (userEvent)="receive($event)"></app-sidebar></li>
            <li><button type="button" pButton (click)="showViaService()" label="Update Page" class="p-button-success btn-style"></button></li>
            <li><button pButton pRipple type="button" label="Logout" (click)="logout()" class="p-button-danger btn-style"></button></li>
        </ul>
    </ng-template>
</p-menubar>

<p-messages></p-messages>
