<p-sidebar [(visible)]="display" [baseZIndex]="10000">
    <h2>Lead Information</h2>

        <label for="firstname"><h3>First Name</h3></label>
        <input type="text" [(ngModel)]="firstname" id="firstname" style="width: 100%;" pInputText />

        <label for="lastname"><h3>Last Name</h3></label>
        <input type="text" [(ngModel)]="lastname" id="lastname" style="width: 100%;" pInputText />

        <label for="country"><h3>Country</h3></label>
        <input type="text" [(ngModel)]="country" id="country" style="width: 100%;" pInputText />

        <label for="nationality"><h3>Nationality</h3></label>
        <input type="text" [(ngModel)]="nationality" id="nationality" style="width: 100%;" pInputText />

        <label for="nationality"><h3>Company</h3></label>
        <input type="text" [(ngModel)]="company" id="company" style="width: 100%;" pInputText />

        <label for="designation"><h3>Designation</h3></label>
        <input type="text" [(ngModel)]="designation" id="designation" style="width: 100%;" pInputText />

        <label for="work-exp"><h3>Work Experience</h3></label>
        <input type="number" [(ngModel)]="workExp" value="0" id="work-exp" style="width: 100%;" pInputText />

        <label for="cv"><h3>CV</h3></label>
        <p-fileUpload #fubauto mode="basic" name="demo[]" url="./upload.php" accept="image/*" [auto]="true" chooseLabel="Choose File" id="cv"></p-fileUpload>
        
        <label for="Data Source"><h3>Data Source</h3></label>
        <p-dropdown [options]="socials" [(ngModel)]="selectedSocial" optionLabel="name"></p-dropdown>

        <br>
        <br>
        <button pButton type="button" label="Insert" class="button" (click)="getUser()"></button>
        <button pButton pRipple type="button" label="Clear" class="p-button-danger button" (click)="clear()"></button>
        
</p-sidebar>

<button pButton pRipple type="button" (click)="display = true" label="Insert Page" class="p-button-primary btn-style"></button>